[submodule "templates/cc-tools"]
	path = templates/cc-tools
	url = https://github.com/hlapp/cc-tools

[submodule "plugins/Pelican-tweet"]
	path = plugins/Pelican-tweet
	url = https://github.com/mpaglia0/Pelican-tweet
	
[submodule "plugins/Static-Comments-Plus"]
	path = plugins/Static-Comments-Plus
	url = https://github.com/mpaglia0/Static-Comments-Plus
