<form name="sendContact" id="contactForm" action="send-message.php" class="needs-validation" novalidate>
    <div class="mb-3">
           <label for="name" class="form-label">{{ 'Name'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="name" name="name" placeholder="{{ 'Please enter your name'|gettext(DEFAULT_LANG) }}" required><br>
           <small>{{ 'Required'|gettext(DEFAULT_LANG) }}</small><br><br>
           <div class="invalid-feedback">
               Questo è un campo obbligatorio...
           </div>
    </div>
    <div class="mb-3">
           <label for="email" class="form-label">{{ 'Email'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'Please enter your email'|gettext(DEFAULT_LANG) }}"><br>
           <small>{{ 'Required'|gettext(DEFAULT_LANG) }}</small><br><br>
           <div class="invalid-feedback">
               Questo è un campo obbligatorio...
           </div>
    </div>
    <div class="mb-3">
           <label for="subj" class="form-label">{{ 'Subject'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="subj" name="subj" placeholder="{{ 'Please enter a short and clear subject'|gettext(DEFAULT_LANG) }}"><br>
           <small>{{ 'Optional'|gettext(DEFAULT_LANG) }}</small><br><br>
    </div>
    <div class="mb-3">
           <label for="msg" class="form-label">{{ 'Message'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="msg" name="msg" placeholder="{{ 'Please enter your message'|gettext(DEFAULT_LANG) }}" required><br>
           <small>{{ 'Required'|gettext(DEFAULT_LANG) }}</small><br><br>
           <div class="invalid-feedback">
               Questo è un campo obbligatorio...
           </div>
    </div>
    <br>
    <div id="success"></div>
    <button type="submit" class="btn btn-primary" id="sendMessageButton">{{ 'Submit'|gettext(DEFAULT_LANG) }}</buton>
</form>