<form name="sendContact" id="contactForm" action="send-message.php" novalidate>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="name">{{ 'Name'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="name" name="name" placeholder="{{ 'Please enter your name'|gettext(DEFAULT_LANG) }}" required><br>
           <small>{{ 'Required'|gettext(DEFAULT_LANG) }}</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="email">{{ 'Email'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="email" name="email" placeholder="{{ 'Please enter your email'|gettext(DEFAULT_LANG) }}"><br>
           <small>{{ 'Required'|gettext(DEFAULT_LANG) }}</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="subj">{{ 'Subject'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="subj" name="subj" placeholder="{{ 'Please enter a short and clear subject'|gettext(DEFAULT_LANG) }}"><br>
           <small>{{ 'Optional'|gettext(DEFAULT_LANG) }}</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <label for="msg">{{ 'Message'|gettext(DEFAULT_LANG) }}</label><br>
           <input type="text" class="form-control" id="msg" name="msg" placeholder="{{ 'Please enter your message'|gettext(DEFAULT_LANG) }}" required><br>
           <small>{{ 'Required'|gettext(DEFAULT_LANG) }}</small><br><br>
           <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <button type="submit" class="btn btn-primary" id="sendMessageButton">{{ 'Submit'|gettext(DEFAULT_LANG) }}</buton>
</form>
