<hr class="medium text-dark"></hr>
<form action="/theme/php/send-message.php" method="post">
   <div class="mb-3">
      <label>Nome</label>
      <input required type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Inserisci qui il tuo nome" />
      <div class="form-text">Richiesto</div>
   </div>
   <div class="mb-3">
      <label>Email</label>
      <input required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control form-control-lg" id="email" name="email" placeholder="Inserisci qui la tua email"/>
      <div class="form-text">Richiesto</div>
   </div>
   <div class="mb-3">
      <label>Oggetto</label>
      <input type="text" class="form-control form-control-lg" id="subject" name="subject" placeholder="Usa un oggetto breve ma chiaro"/>
      <div class="form-text">Facoltativo</div>
   </div>
   <div class="mb-3">
      <label>Messaggio</label>
      <textarea required class="form-control form-control-lg" id="message" name="message" style="height: 100px" placeholder="Scrivi qui il tuo messaggio"/></textarea>
      <div class="form-text">Richiesto</div>
   </div>
   <input class="invisible" name="phone_number" id="phone_number">
   <button type="submit" class="btn btn-outline-primary">Invia</button>
</form>
