<hr class="medium text-dark">
</hr>
<form action="/theme/php/new-idea.php" method="post">
   <div class="form-check form-switch">
      <label class="form-check-label" for="FormatCheck">Markdown</label>
      <input class="form-check-input" type="checkbox" role="switch" id="FormatCheck">
      <label class="form-check-label" for="FormatCheck">reST</label>
    </div>
   <div class="mb-3">
      <label>Title</label>
      <input required type="text" class="form-control form-control-lg" id="title" name="title"
         placeholder="Title of article" />
      <div class="form-text">Needed</div>
   </div>
   <div class="mb-3">
      <label>Subtitle</label>
      <input type="text" class="form-control form-control-lg" id="subtitle" name="subtitle"
         placeholder="Subtitle of article" />
      <div class="form-text">Optional</div>
   </div>
   <div class="mb-3">
      <label>Slug</label>
      <input required type="text" class="form-control form-control-lg" id="slug" name="slug"
         placeholder="Slug of article" />
      <div class="form-text">Needed</div>
   </div>
   <div class="mb-3">
      <label>Tag(s)</label>
      <input type="text" class="form-control form-control-lg" id="tags" name="tags"
         placeholder="List of tags (comma separated)" />
      <div class="form-text">Optional</div>
   </div>
   <div class="mb-3">
      <label>Subject</label>
      <input type="text" class="form-control form-control-lg" id="subject" name="subject"
         placeholder="A short but clear subject" />
      <div class="form-text">Optional</div>
   </div>
   <div class="mb-3">
      <label>Article body</label>
      <textarea required class="form-control form-control-lg" id="body" name="body" style="height: 500px"
         placeholder="Enter here the body of your article" /></textarea>
      <div class="form-text">Needed</div>
   </div>
   <input class="invisible" name="pub_date" id="pub_date">
   <button type="submit" class="btn btn-outline-primary">Send</button>
</form>
