<hr>
<div class="sharing">
   <h3>{{ 'Share this article!'|gettext(DEFAULT_LANG) }}</h3>
   {# Share buttons BEGIN #}
   <div class="btn_container">
      <a href="{{article.share_post['diaspora']}}" target="_blank" class="btn_share-dia"><i class="bi-asterisk"></i><span>Diaspora*</span></a>
      <a href="{{article.share_post['twitter']}}" target="_blank" class="btn_share-tw"><i class="bi-twitter-x"></i><span>Twitter</span></a>
      <a href="{{article.share_post['facebook']}}" target="_blank" class="btn_share-fb"><i class="bi-facebook"></i><span>Facebook</span></a>
      <a href="{{article.share_post['reddit']}}" target="_blank" class="btn_share-red"><i class="bi-reddit"></i><span>Reddit</span></a>
      <a href="{{article.share_post['mastodon']}}" target="_blank" class="btn_share-mas"><i class="bi-mastodon"></i><span>Mastodon</span></a>
      <a href="{{article.share_post['email']}}" target="_blank" class="btn_share-eml"><i class="bi-envelope-fill"></i><span>Email</span></a>
   </div>
   {# Share buttons END #}
</div>
